name: Sync labels
on:
  push:
    paths:
      - ".github/labels.yml"
  workflow_dispatch:

permissions:
  issues: write

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # 公式トークンでOK（権限は上の permissions で付与）
      - name: Apply labels
        uses: crazy-max/ghaction-github-labeler@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: .github/labels.yml
          # 余計な既存ラベルを消すなら true
          sync: false
